h1{
    font-family: 'Pacifico', cursive;
    color: white;
}

.diller{
    width:15rem;
    height: 30px;
    border-radius:10px;
    font-family: 'Pacifico', cursive;
    position: absolute;
    top: 197px;
    left:40vw;
    background-color: none;
}

.btn{
    width:rem;
    height:30px;
    border-radius:10px;
    font-family: 'Pacifico', cursive;
    position: absolute;
    top: 197px;
    left: 56vw;
}

.body{
   
}

.container{

    width:60vw;
    height:80vh;
    /* background-color:orangered; */
    border-radius:20px;
    background-image: url(./img/to-do-list-vector-247108.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}