h1{
    font-family: 'Pacifico', cursive;
    color: white;
}

.todo{
    width:15rem;
    height: 30px;
    border-radius:10px;
    font-family: 'Pacifico', cursive;
    position: relative;
    top: 150px;
    left:vw;
    background-color: none;
    border: none;
}

.btn{
    width:rem;
    height:30px;
    border-radius:10px;
    font-family: 'Pacifico', cursive;
    position: relative;
    top: 150px;
    left: ;
}

.body{
   background-color: rgb(43, 12, 43);
}

.container{

    width:60vw;
    height:80vh;
    /* background-color:orangered; */
    border-radius:20px;
    background-image: url(./img/to-do-list-vector-247108.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}